<div ng-init="site.tab = 'a'">
    <h1>About me</h1>
    <p>I live in Louisiana and attended LSU for my undergrad CS degree. I'm an avid gamer, my favorite games include the Civilzation series, XCOM, anything by Valve, Minecraft, Borderlands, and a whole bunch more.</p>
    <h2>Game Dev Interests</h2>
    <p>Video games have held my fascination since I played Civ I and SimAnt as a kid. In high school I started programming games in ancient QBASIC. I made half a dozen sprite-based games, but unfortunately, I don't have any of the art or code anymore.  In college I learned proper programming, and after college I learned some web design. I am most intrigued by games with interactive mechanics, meta-game references, and asynchronous or irregular presentation.</p>
    <h2>Skillsheet</h2>
    <h5>Programming Languages</h5>
    <ul>
        <li>C#</li>
        <li>Python</li>
        <li>Javascript</li>
        <li>Java</li>
        <li>Delphi</li>
        <li>C</li>
    </ul>
    <h5>Game/Graphics Platforms</h5>
    <ul>
        <li>Unity</li>
        <li>KineticJS</li>
        <li>JMonkey</li>
    </ul>
    <h5>Web Libraries</h5>
    <ul>
        <li>AngularJS</li>
        <li>JQuery</li>
        <li>BreezeJS</li>
        <li>Twitter Bootstrap</li>
    </ul>
</div>