<div ng-init="site.tab = 'a'">
    <h1>About me</h1>
    <p>I live in Louisiana and attended LSU for my undergrad CS degree. I'm an avid gamer, my favorite games include the Civilzation series, XCOM, anything by Valve, Minecraft, Borderlands, and a whole bunch more. I'm also a <a ng-click="goto('dnd/gunner')">tabletop</a> gamer, and like to tinker with my homebrew setting.</p>
    <h2>Game Dev Interests</h2>
    <p>Video games have held my fascination since I played Civ I and SimAnt as a kid. In high school I started programming games in ancient QBASIC. I made half a dozen sprite-based games, but unfortunately, I don't have any of the art or code anymore.  In college I learned proper programming, and after college I learned some web design. I am most intrigued by games with interactive mechanics, meta-game references, and asynchronous or irregular presentation.</p>

    <h2>Skillsheet</h2>
    <h5>Programming Languages</h5>
    <ul>
        <li class="row-fluid">
			<span class="span2">C#</span>
			<span class="span10">
				&nbsp;<i class="c-sharp"></i>
				&nbsp;<i class="c-sharp"></i>
				&nbsp;<i class="c-sharp"></i>
			</span>
		</li>
        <li class="row-fluid">
			<span class="span2">Python</span>
			<span class="span10">
				&nbsp;<i class="about-icon python"></i>
				&nbsp;<i class="about-icon python"></i>
				&nbsp;<i class="about-icon python"></i>
			</span>
		</li>
        <li class="row-fluid">
			<span class="span2">Javascript</span>
			<span class="span10">
				&nbsp;<span class="js"></span>
				&nbsp;<span class="js"></span>
				&nbsp;<span class="js"></span>
				&nbsp;<span class="js"></span>
			</span>
		</li>
        <li class="row-fluid">
			<span class="span2">Java</span>
			<span class="span10">
				&nbsp;<i class="icon icon-coffee java icon-2x"></i>
				&nbsp;<i class="icon icon-coffee icon-2x java"></i>
			</span>
		</li>
        <li class="row-fluid">
			<span class="span2">Delphi</span>
			<span class="span10">
				&nbsp;<i class="about-icon delphi"></i>
				&nbsp;<i class="about-icon delphi"></i>
			</span>
		</li>
        <!--li>C</li--><!-- One class and some tinkering a skill does not make-->
    </ul>
    <h5>Game/Graphics Platforms</h5>
    <ul>
        <li class="row-fluid">
			<span class="span2">Unity</span>
			<span class="span10">
				&nbsp;<i class="about-icon unity"></i>
				&nbsp;<i class="about-icon unity"></i>
				&nbsp;<i class="about-icon unity"></i>
				&nbsp;<i class="about-icon unity"></i>
			</span>
		</li>
        <li class="row-fluid">
			<span class="span2">KineticJS</span>
			<span class="span10">
				&nbsp;<i class="icon icon-bolt icon-2x kinetic"></i>
				&nbsp;<i class="icon icon-bolt icon-2x kinetic"></i>
			</span>
		</li>
        <li class="row-fluid">
			<span class="span2">JMonkey</span>
			<span class="span10">
				&nbsp;<i class="about-icon jmonkey"></i>
				&nbsp;<i class="about-icon jmonkey"></i>
			</span>
		</li>
    </ul>
    <h5>Web Libraries</h5>
    <ul>
        <li class="row-fluid">
			<span class="span2">AngularJS</span>
			<span class="span10">
				&nbsp;<i class="about-icon angular"></i>
				&nbsp;<i class="about-icon angular"></i>
				&nbsp;<i class="about-icon angular"></i>
				&nbsp;<i class="about-icon angular"></i>
			</span>
		</li>
        <li class="row-fluid">
			<span class="span2">JQuery</span>
			<span class="span10">
				&nbsp;<i class="about-icon jquery"></i>
				&nbsp;<i class="about-icon jquery"></i>
				&nbsp;<i class="about-icon jquery"></i>
				&nbsp;<i class="about-icon jquery"></i>
			</span>
		</li>
        <li class="row-fluid">
			<span class="span2">BreezeJS</span>
			<span class="span10">
				&nbsp;<i class="about-icon breeze"></i>
				&nbsp;<i class="about-icon breeze"></i>
				&nbsp;<i class="about-icon breeze"></i>
			</span>
		</li>
        <li class="row-fluid">
			<span class="span2">Twitter Bootstrap</span>
			<span class="span10">
				&nbsp;<i class="about-icon bootstrap"></i>
				&nbsp;<i class="about-icon bootstrap"></i>
				&nbsp;<i class="about-icon bootstrap"></i>
				&nbsp;<i class="about-icon bootstrap"></i>
			</span>
		</li>
    </ul>
</div>
