<div class="view-768">
	<h1>hello world</h1>
	<div class="home-stripe">
		<div class="hex hex-1">
			<img src="content/images/hexFade.svg" alt="" class="svg-inline" />
		</div>
		<div class="label home-ar-label">
			<img src="content/images/imalex.svg" alt="" class="svg-inline" />
		</div>
	</div>
	<div class="home-stripe">
		<div class="home-bit-pix hex">
			<img src="content/images/flipandblit.svg" alt="" class="svg-inline" />
		</div>
		<div class="home-bit-pix-label label">
			<img src="content/images/bitsandpixels.svg" alt="" class="svg-inline" />
		</div>
	</div>
	<div class="home-stripe">
		<div class="hex hex-2">
			<img src="content/images/brHex.svg" alt="" />
		</div>
		<div class="label home-br-label">
			<img src="content/images/inbr.svg" alt="" class="svg-inline" />
		</div>
	</div>
	<div class="home-stripe">
		<div class="hex hex-3">
			<img src="content/images/bigHex.svg" alt="a hex" class="svg-inline"/>
		</div>
		<div class="label home-proj-label">
			<img src="content/images/myprojects.svg" alt="my projects" class="svg-inline" />
		</div>
	</div>
</div>