<div ng-init="site.tab = ''">
    <h1>Hello World</h1>
    <h2>I'm Alex Reeser</h2>
    <p>I'm a professional software developer and a hobbyist game developer. I currently work at Cyrious Software as a dev, and work on several side-projects on my own time.</p>
    <h2>Projects</h2>
    <p>I've worked on several games over the years, and I'm currently working on three separate projects. My main interests in game development revolve around meta-gaming and technological themes.</p>
    <h3>Current Projects</h3>
    <ul>
        <li><a ng-click="goto('/shell')" href>Shell</a></li>
        <li><a  ng-click="goto('/knights')" href>r/ Knights of New</a></li>
        <li><a ng-click="goto('/icoico')" href>Ico-Ico</a></li>
    </ul>
    <h3>Past Projects</h3>
    <ul>
        <li><a ng-click="goto('/psycho')" href>Psychosurgeon</a></li>
        <li><a ng-click="goto('/atomic')" href>Atomic Pinball</a></li>
        <li><a ng-click="goto('/atomic')" href>TimeSlice</a></li>
        <li><a ng-click="goto('/python')" href>Axel Delpoole</a></li>
    </ul>
    
</div>