<div class="view-80p">
    <h1>bytes</h1>
    <h2>professional projects</h2>
    <h2 class="hex-header ecopico mrg-t-10">ecopico</h2>
    <p>A tiny genetic and evolutionary algorithm excercise.</p>
    <div>
        <a href="https://github.com/ACReeser/ecopico" class="square-link" target="_blank">GitHub Repo</a>
        <a href="http://acreeser.github.io/ecopico/" class="square-link" target="_blank">Documentation</a>
        <a href="https://cdn.rawgit.com/ACReeser/ecopico/master/" class="square-link" target="_blank">See it in action</a>
    </div>
    <h2 class="hex-header chartbugz">chartbugz</h2>
    <p>A visualization web app for ticket tracking using the FogBugz API.</p>
    <div>
        <a href="https://github.com/ACReeser/chartbugz" class="square-link" target="_blank">GitHub Repo</a>
        <a href="https://cdn.rawgit.com/ACReeser/chartbugz/master/root/" class="square-link" target="_blank">See it in action</a>
    </div>
    <h2 class="hex-header apiculate">apiculate</h2>
    <p>A visualization web app for HTTP APIs, featuring live-queries, filtering, and text search.</p>
    <div>
        <a href="https://github.com/ACReeser/apiculate" class="square-link" target="_blank">GitHub Repo</a>
        <a href="http://acreeser.github.io/apiculate/" class="square-link" target="_blank">Documentation</a>
        <a href="http://acreeser.github.io/apiculate/demo/gist.html" class="square-link" target="_blank">See it with the GitHub Gist API</a>
    </div>
    <h2 class="hex-header no-logo">pingpot</h2>
    <div>
        <img src="http://i.imgur.com/MlOLG2q.png" alt="">
        <p>A coffee-pot status web app, originally proposed as a joke, now made real. Allows coffee pot fill level tracking, as well as pot temperature and coffee supply contribution lists.  Meant to be paired with the postpot coffeepot sensor.</p>
        <a href="https://github.com/ACReeser/pingpot" class="square-link" target="_blank">GitHub Repo</a>
        <h3>Layout</h3>
        <img src="https://camo.githubusercontent.com/8e7c62352745e21732b6e27d8a037f0545f5bedb/687474703a2f2f692e696d6775722e636f6d2f70476e717a4f302e706e67" alt="" class="full-width">
        <h3>Muggy</h3>
        <img src="http://i.imgur.com/uC92Gaq.gif" alt="">
        <p>A humorous talking mug mascot was included because the layout was very condensed and used little screen real estate.</p>
    </div>
</div>