<div ng-init="site.tab ='g'">
    <div class="center-header">
      <h1>Psychosurgeon</h1>
    </div>
    <p>In a world where we have finally learned how to rid people of their worst fears, you play as a <strong>PsychoSurgeon</strong> - a specialist given the task of going into their patient's mind tofight the deepest, darkest enemies of their psyche.
    Use your powers to face the innate human fears that metastasize only in dreams. Each puzzle presents the player with new challenges, obstacles, and enemies to overcome in order to reclaim the client's psyche.</p>
    <p>Psychosurgeon is a surreal first-person action-platformer made especially for Stereoscopic 3D that pits the player against a nightmarish twisted dreamscape. Developed in Unity, Psychosurgeon was developed by <a href="http://fourthreestudios.com/tfdGames/">Tiger Fighting Dragons</a>, a student game-development studio, over the course of one semester.</p>
    <div class="gallery">
      <iframe class="imgur-album" width="100%" height="550" frameborder="0" src="http://imgur.com/a/ywPS3/embed"></iframe>
    </div>
    <p>Visit <a href="http://fourthreestudios.com/tfdGames/" target="_blank">Tiger Fighting Dragon's</a> web site for a better look at Psychosurgeon and for the full game download.</p>
    <h3>Tech</h3>
    <ul>
        <li>Unity</li>
        <li>C#/ JS</li>
        <li>Stereoscopic 3D</li>
    </ul>
</div>