<div ng-init="site.tab ='g'" class="delpoole-partial">
    <h2>Axel Delpoole and the Iron Gear Revolution</h2>
    <p>Axel Delpoole and the Iron Gear Revolution was a 2D Python Action/Adventure game me and my buddy Christian wrote for a student project Sophmore year of college.
    </p>
    <h3>Tech</h3>
    <ul>
        <li>Python</li>
        <li>From scratch game engine</li>
        <li>Original pixel art</li>
    </ul>
    <div data-muck-about-sprite="" >        
    </div>
    <div data-muck-about-sprite="" robot="">        
    </div>
    <div data-muck-about-sprite="" robot="">        
    </div>
    <div data-muck-about-sprite="" robot="">        
    </div>
    <div data-zeppelin-mothership="">
        <img src="http://i.imgur.com/gX95rYd.png" />
    </div>
</div>