<div ng-init="site.tab = 'g'">
    <div class="center-header">
      <h1>Time Slice</h1>
    </div>
    <p>Time Slice was a tiny project that I did to learn HTML5/Javascript/CSS, and the JQuery and JQuery UI libraries. The game has a 'snapshot' mechanic. The player captures a specific moment in time and tries to match combos like doubles, triples, or palindromes.</p>
    <div class="timeframe">
      <iframe src="timeslice/timeSlice.html" height="600" width="900">        
      </iframe>
    </div>
        
    <p>Controls:<br/>
        <ul>
            <li>
                Space: Take a slice of time
            </li>
            <li>
                S: Slow down time
            </lii>
        </ul>
    </p>
</div>