<h1>words</h1>
<div class="words-navigation">
      <span>Posts:</span>
      <a href="words.html" data-spa-href="">Logomania</a>
      <a href="warpeddrive.html" data-spa-href=""><i>Warped Drive</i> Mid-Mortem</a>
      <a href="zombie.html" data-spa-href="">Basically State of Decay</a>
</div>
<h2><i>Warped Drive</i> Mid-Mortem</h2>
<small>8/11/2016</small>
<div class="img-wrapper">
      <img src="/content/images/make_a_game.png" alt="">
</div>
<p>That's how it starts. It ends 427 commits and 357 days later with an original, unfinished, and very hard to play video game. I say "ends," but that's not entirely true. The game is over half-way done, I just haven't had the drive to get back in there and finish it up. I'm missing the drive because I've concluded that, despite my intentions, the end result of those 427 commits falls short of the "fun and compelling" mark. 
</p>
<!-- Somewhere in the back of my head a voice is telling me that if you just spend a few more hours on it, get <i>this last bit</i> done, then I'll rest easier. Unfortunately for that voice, I know it's only half right. It wasn't supposed to be ambitious, and it was supposed to be the one game I actually finish.-->
<p>What follows is the chronicle of <i>Warped Drive</i>, the most "complete," and most ambitious game I've worked on yet. I've titled this a "mid-mortem" in the hopes that one day I'll be proud of the last binary release. No, this post is more a cathartic log of how I got here.</p>
<h3>Best Intentions</h3>
<p>
      Unlike a <a href="words.html" class="dot-link">future struggle with logo design</a>, <strong>Harmonic Order</strong> (our studio) got named and a logo very quickly. 
</p>
<!--<p>This post, meant to be cathartic, ended up invoking much more emotion than I thought. It's been months since I've dropped this project, and re-visiting it is a little unsettling and intensely sad. I think that's because of how close it came to actually being <strong>done</strong>. Not half-finished, but wholly-finished. Maybe someday I'll rectify this sad state of affairs. I'll raise the digital coffin and banish all the negative emotional metadata. </p>
<p>Maybe, hopefully.</p>
<p>-Alex</p>-->