<h1>words</h1>
<div class="words-navigation">
      <span>Posts:</span>
      <a href="words.html" data-spa-href="">Logomania</a>
      <a href=""><i>Warped Drive</i> Post-Mortem</a>
      <a href="zombie.html" data-spa-href="">Basically State of Decay</a>
</div>
<h2>Logomania</h2>
<small>8/11/2016</small>
<p>You can only call a project "that thing I'm working on" for so long. Eventually, you should settle on a name for it. Usually for me, this involves anything from ten minutes to an hour of brainstorming while sitting in front of a text editor. The resulting <code class="inline">notes.txt</code> usually has six joke names, two 'safe' choices, and two or three that I <i>really</i> want to use, but are either too punny or too obscure to use.</p>
<p>For my latest project, I just couldn't stop. I came up with three new names a day for a week. This is the story of my hyperlogographia.</p>
<h3>Just Pick Something</h3>
<p>Our journey begins when I get the itch to code a game that takes place in the real world, not cyberspace. A first-person-shooter, one that obeys the well-researched and widely-known Laws of Physics. Think of the possibilites! Your character customization can include important choices like "weight class" and "armor choice" and any number of well known physical weapons! And you know, I bet gravity-manipulation isn't <strong>that</strong> hard to implement. After developing a cyberspace game and a social-interaction-driven board game, this sounds like a welcome respite from creating mechanics from scratch. And so I boot up Unity.</p>
<p>In order to <i>start</i> a project in Unity, you need to name it. This immediately leads to "RPG Paralysis," and not the kind that affects your Half-Orc Barbarian, but the kind that you get when you are asked to name your character. Eager to code, and aware that agonizing over this particular decision may sideline me, I typed in <i>Gravdrone Wars</i> and tried not to wince. There. Done (for now.) Time to code a sniper rifle!</p>
<aside>I'm not entirely sure why the <strong>need</strong> to immediately work on an FPS gripped me; I should have been polishing up <i>Councilore</i>, or making a digital coffin for <i>Warped Drive</i>. But, unfortunately, I was unable to stop myself from devoting two and a half weeks to building an FPS. With multiplayer! What was I thinking...</aside>
<p>Two and a half weeks pass, and I finally get rid of the burning desire to code thermal bloom and invisibility shaders. Let's make some minimal marketing material, stick it on Github, and see what some playtesters think.</p>
<h3>Let's Get a Real Name</h3>
<p>At this point, the game's high-flying ambitions have calmed down <i>quite</i> a bit, and it is now an arena-based first person shooter, with the main gimmick being a thermal mode and an echolocation mode. The real hook are mechanics to give players three spectra in which to hunt their enemies, each with corresponding counters, strengths, and weaknesses. The player avatars are robots with little hovering rockets, equipped with sniper rifles, laser beams, and grenade launchers.</p>
<p>The first names that spring to mind all revolve around violence and the electromagnetic spectrum. The ideas here are usually of the "throw immediately away" variety. <i>VISUAL CONFRONTATION</i>, <i>FIGHTER OPTIC</i> and <i>SPECSCRUM</i> are all pretty forgettable, but satisfy the "fight and fiber" theme. After thinking about the (at this point half-theoretical) core gameplay, I alight upon a name that doesn't immediately provoke eyerolls. <i>HIDE & SEEK & DESTROY</i> sounds respectable, marketable even. I could see H&S&K on...things, both digital and physical. <i>Okay,</i> I tell myself <i>that one could work pretty well.</i> But my brain wasn't done yet.</p>
<div class="img-wrapper">
      <img src="/content/images/logomania-01.png" alt="HIDE & SEEK & DESTROY">
</div>
<p>It's of first draft quality, at its best. As I'm frustratingly tweaking the <i>HIDE & SEEK & DESTROY</i> logo in Illustrator, I get another idea out of the blue: <i>GRAVELENGTH</i>. This too, I can see on banners and letterheads. This one is much closer to the "fight and fiber" theme I had previously explored. I sketch out a logo in trusty Illustrator.</p>
<div class="img-wrapper">
      <img src="/content/images/logomania-02.png" alt="GRAVELENGTH">
</div>
<p>This one is more exciting. Look at that sine wave! Imagine it pulsing in rainbow colors. How can anything be better than this, I ask myself. Just as I'm putting the final touches on a variant logo, doubt starts creeping in. <i>Doesn't "grave" remind you of zombie games?</i> No, I hurriedly tell myself, it's not like that. Trying to seek confirmation from my wife at home, I show off my new logo.</p>
<p>"It looks good! Good job. But if I'm being honest, it makes me think of a zombie game." I laugh it off, offer up a weak defense, say that it should be fine, but in the back of my head the opposition party, the anti-Gravelengths, just overthrew the logo government.</p>
<h3>The Swedish Detour</h3>
<p>Fighting. Light. Wavelength. Robots. Drones. All of the permutations and puns of these basic words have been exhausted. I start browsing wikipedia pages for related terms and phrases. Surely <i>something</i> lends itself to a little wordplay? Finally, I strike something with portmanteauability. Ångström. The meaning is there: a unit of measure commonly used for wavelengths of light. Look at all the -ang rhymes! They practically write themselves! <i>CLANGSTROM</i> is a great way to emphasize the robots. <i>BANGSTROM</i> is even better, with an explosive onomonopoeia to boot! If I can find a good geometric font, I just add little reticles in the b's, a's and o's, and the logo looks <i>fantastic</i>. THIS is the one.</p>
<aside>
      <p>The other best idea I had?</p>
      <p><i>Strum Und Ångström</i></p>
      <p>Physics? Check. German Lit? Check.</p>
</aside>
<div class="img-wrapper">
      <img src="/content/images/logomania-03.png" alt="Oh BANGSTROM, your promise was so great!">
</div>
<p>And then I get feedback.</p>
<p>"Bangstrom? LOL"</p>
<p>"Yeah bangstrom makes me think of a porn game. I'm sorry just being honest"</p>
<p>...</p>
<p>Bangstrom, you flew so high, and you fell so low. You will be missed. I open up Illustrator again after the little funeral in my head finishes up.</p>
<h3>Logoverdrive</h3>
<p>Back to the drawing board. There's still <i>CLANGSTROM</i>, I tell myself . A font with hard lines and harsh corners will give it that robotic look. For a bonus, the "Å" looks like a little nut! Very robotic-y.</p>
<div class="img-wrapper">
      <img src="/content/images/logomania-04.png" alt="CLANGSTROM">
</div>
<p><i>This one is perfectly fine</i> I try and tell myself, <i>it doesn't matter that it's not as good as Bangstrom.</i> This far into the journey, I should have been happy with Awesome Logo #3. I should have called it quits and slapped CLANGSTROM on the title menu. I should have. But, of course, I didn't.</p>
<div class="img-wrapper">
      <img src="/content/images/logomania-06.png" alt="REFR|ACTION">
</div>
<p>Get it? REFR|ACTION? That rainbow triangle is a bit much, let's try another design...</p>
<div class="img-wrapper">
      <img src="/content/images/logomania-05.png" alt="REFR|ACTION">
</div>
<p><strong>Much</strong> simpler. Much cleaner. That O-as-targeting-reticle is on point. This design gets good reviews from friends as well. I crop it, export it to PNG, save my scratch file, and close down Illustrator. It's either <i>REFR|ACTION</i> or <i>CLANGSTROM</i>. The long nights of logomania are over.</p>
<h3>Journey's End</h3>
<p>I've spent hours upon hours on names for projects, and logos for those names, only to throw all but one away. On the upside, the logo design practice is probably worth the whole experience. On the downside, I could have fixed a dozen bugs and added two new features to any one of my projects in the same time frame.</p>
<p>Any good narrative needs some kind of end, some reflection on <i>what it all means.</i> There's only one good moral to this story that I can see: <strong><i>I need to stop making logos.</i></strong> </p>
<div class="img-wrapper">
      <img src="/content/images/logomania-07.png" alt="HIDE&SEEK&DESTROY">
</div>
<p>I spent an hour making this last logo (and a few others I threw away) because I opened my Illustrator logo file to export single images for this blog post.</p>
<p>As of this writing, I'm still not sure which one I'm going to pick.</p>
<p>¯\_(ツ)_/¯</p>
<p>-Alex</p>