<h1>words</h1>
<div class="words-navigation">
      <span>Posts:</span>
      <a href="words.html" data-spa-href="">Logomania</a>
      <a href="warpeddrive.html" data-spa-href=""><i>Warped Drive</i> Post-Mortem</a>
      <a href="zombie.html" data-spa-href="">Basically State of Decay</a>
</div>
<h2>Zombie Nation Pitch</h2>
<p>I wrote a game pitch for a zombie real-time-strategy game that I would love to play. Read on and enjoy!</p>
<div class="gallery">
      <iframe src="https://docs.google.com/document/d/13RAA3H1zyJyTIpObTQXFatH8dsToSM2EJXROdXJVbGQ/pub?embedded=true" width="100%" height="3000"></iframe>
</div>