<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8' />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="all" href="style.css">
	<title>Alex Reeser</title>
</head>
<body ng-app="site" ng-controller="SiteCtrl" class="top-level">
  <div class="navbar navbar-inverse">
    <div class="navbar-inner" >
      <a class="brand" href="#">Alex Reeser</a>
      <ul class="nav">
        <li class="dropdown" ng-class="{'active': site.tab == 's'}">
          <a data-ng-click="goto('/shell')" href="">Shell</a>
        </li>
        <li class="dropdown" ng-class="{'active': site.tab == 'g'}">
          <a class="dropdown-toggle" data-toggle="dropdown" href="">Games</a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
              <li ng-repeat="proj in unityProjects">
                  <a data-ng-click="gotoUnity($index)" href="">{{proj}}</a>
              </li>
              <li class="divider"></li>
              <li ng-repeat="proj in webProjects">
                  <a data-ng-click="gotoWeb($index)" href="">{{proj}}</a>
              </li>
              <li class="divider"></li>
              <li><a ng-click="goto('/python')" href="">Axel Delpoole</a></li>
          </ul>  
          </li>
        <!--<li ng-class="{'active': site.tab == 'w'}" class="dropdown"><a data-toggle="dropdown" href="">Web Projects</a>-->
        <!--  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">-->
        <!--  </ul>  -->
        <!--</li>-->
        <li ng-class="{'active': site.tab == 'z'}"><a ng-click="goto('/zombie')" href="">Pitches</a></li>
        <li ng-class="{'active': site.tab == 'r'}"><a ng-click="goto('/resume')" href="">Resume</a></li>
        <li ng-class="{'active': site.tab == 'a'}"><a ng-click="goto('/about')" href="">About Me</a></li>
      </ul>
    </div>
  </div>
  <div ng-view="" class="partial">
  
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
  <script src="scripts/app/site.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
</body>
</html>
