/************Reset**************/
* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}
html{
    
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Aldrich', sans-serif;    
}
html, body, div, object, iframe, fieldset { 
	margin: 0; 
	padding: 0; 
	border: 0;
    color:#999;
} 
p, li a, p a{
    font-family: 'Abel', sans-serif;
    font-size:1.2em;
}
ol, ul { 
	list-style: none;
	margin: 0;
	padding: 0;
} 
table { 
	border-collapse: collapse; 
	border-spacing: 0; 
}
header, footer, nav, section, article, hgroup, figure {
	display: block;	
}
legend {
	display: none;
}
/************End Reset**************/

.top-level{
    /*from http://subtlepatterns.com/dark-geometric/*/
    background-image:url("content/images/geometric.png");
}   

.navbar .brand{
    margin-left:10%;
}

.partial{
    margin-left:5%;
    margin-right:5%;    
}
.gallery{
    width:60%;
    margin-left:auto;
    margin-right:auto;
}
.timeframe{
    width:60%;
    margin-left:auto;
    margin-right:auto;
}
.center-header{
    margin-left:auto;
    margin-right:auto;
    width:70%;
    text-align:center;
}

.atomic-partial{
    /*background-image:url("http://i.imgur.com/yP64A7D.png");*/
}
.delpoole-partial{
    /*background-image:url("http://i.imgur.com/qZbY7SN.png");*/
}

div[data-muck-about-sprite]{
    position:absolute;
    left:0;
    right:0;
    height: 64px;
    width:54px;
    cursor:pointer;
}
div[data-zeppelin-mothership]{
    position:absolute;
    left:0;
    right:0;
    height: 560px;
    width:2468px;
    z-index:0;
}
div[data-zeppelin-mothership] img{
    position:absolute;
    top:0;
    right:0;
}

.dnd{
    padding:15px;
    background-image:url("content/images/linedpaper.png");
}
.dnd iframe{
    min-height:350%;
    width:100%;
}
/*.dnd > div > #ClassBody div,span,p{*/
/*    color:black;*/
/*}*/
.dnd > div > #ClassBody .PowerHeader > div{
    color:white;
}

.about-icon{
	display: inline-block;
	width: 30px;
	height: 30px;
}
.c-sharp:after{
	content: "♯";
	color: lightblue;
	font-size:30px;
	margin: 0 8px;
}
.js:after{
	content: "{js}";
	color: orange;
	font-size:22px;
}
.html{
	color: darkorange;
}
.java{
	color: #5382A1;
}
.python{
	background-size: 30px;
	background-image:url("content/images/python.png");
}
.delphi{
	background-size: 30px;
	background-image:url("content/images/delphi.png");
}

.jmonkey{
	background-size: 30px;
	background-image:url("content/images/jmonkeyengine.png");
}

.unity{
	background-size: 30px;
	background-image:url("content/images/unity.png");
}

.angular{
	background-size: 30px;
	background-image:url("content/images/angularjs.png");
}
.bootstrap{
	background-size: 30px;
	background-image:url("content/images/twitter_bootstrap.png");
}
.jquery{
	background-size: 30px;
	background-image:url("content/images/jquery.png");
}
.kinetic {
	margin: 0 8px;
}
.breeze:after{
	content: "B";
	font-weight: bold;
	text-decoration:none;
	color: lightblue;
	font-size:29px;
	margin: 0 9px;
}
/******Media Queries*******/

@media all and (min-width:40em) {

}

@media screen and (min-width: 68em) {

}
