
    <style type="text/css">
    .InternalPowerContainer {
    text-align: center;
    width: 298px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -16px;
    }

    .PowerContainer {
    text-align: center;
    width: 298px;
    }

    .PowerHeader {
    overflow: auto;
    text-align: left;
    padding-right: 4px;
    padding-left: 6px;
    padding-bottom: 2px;
    color: #FFFFFF;
    }

    .FloatFix {
    clear:both;
    }

    .At-Will {
    background-color: #669966;
    }

    .Encounter {
    background-color: #993333;
    }

    .Daily {
    background-color: #404040;
    }

    .PowerHeaderLeft {
    padding-top: 1px;
    padding-right: 2px;
    font: bold 10pt Verdana;
    float: left;
    width: 178px;
    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    }

    .PowerHeaderRight {
    padding-top: 4px;
    font: 7pt Verdana;
    float: right;
    }

    .PowerText {
    color: #000000;
    text-align: left;
    padding-top: 2px;
    padding-left: 6px;
    padding-right: 4px;
    padding-bottom: 2px;
    background-color: #FFFFFF;
    font: bold 7pt Verdana;
    }

    .Flavour {
    background-color: #E6E3C9;
    font: italic 8pt Times New Roman;
    }

    .Alternate {
    background-color: #E6E3C9;
    }

    .AlternateNonPrimary {
    background-color: #E6E3C9;
    padding-left: 14px;
    }

    .NonPrimary {
    padding-left: 14px;
    }

    .InternalClassContainer {
    text-align: center;
    width: 800px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -16px;
    }

    .ClassContainer {
    font: 8pt Verdana;
    text-align: left;
    width: 800px;
    font:
    /*margin-left: -10px;*/
    /*margin-right: -10px;*/
    /*margin-top: -16px;*/
    }

    .ClassName {
    font: bold 14pt Verdana;
    margin-bottom: 10px;
    }

    .ClassInformationHeader {
    font-size: 10pt;
    font-weight: bold;
    }

    .ClassInformationIndent {
    padding-left: 8px;
    }

    .ClassFlavourText {
    font: italic 10pt Times New Roman;
    }

    .ClassInformation {
    background-color: #E6E3C9;
    padding: 4px 4px 4px 4px;
    margin-bottom: 10px;
    }

    .ClassDescription {
    margin-bottom: 10px;
    }

    .ClassFeatures {
    }

    .ClassPowersHeader {
    font: bold 13pt Verdana;
    margin-bottom: 10px;
    }

    .ClassPowersBox {
    margin-bottom: 10px;
    }

    td {
    padding-bottom: 6px;
    padding-left: 6px;
    }

  </style>
  <title>Gunner</title>
<div id="ClassBody">

	<div class="ClassContainer">
		<div class="ClassName">
			Gunner <br/>
			<span class="ClassFlavourText"></span>
		</div>
		
		<div class="ClassInformation">
		<span class="ClassInformationHeader">CLASS TRAITS:</span> <br/>
			<div class="ClassInformationIndent">
			  <b>Role: </b> Striker and Controller
			  <br/>
			  <b>Power Source: </b> Martial
			  <br/>
			  <b>Key Abilities: </b> Dexterity, Wisdom
        <br/><br/>
        <b>Armour Proficiencies: </b> Chainmail, Cloth, Hide, Leather, Scale
        <br/>
        <b>Weapon Proficiencies: </b> Military melee, Military ranged, Simple melee, Simple ranged, Superior ranged
        <br/>
        <b>Implements: </b> 
        <br/>
        <b>Bonuses to Defense: </b> , +1 Reflex:, +1 Will:
        <br/><br/>
        <b>Hit Points at 1st Level:</b> 11 + Constitution score
        <br/>
        <b>Hit Points per Level Gained:</b> 5
        <br/>
        <b>Healing Surges per Day:</b> 5 + Constitution modifier
        <br/><br/>
        <b>Trained Skills: </b> From the class skills list below, choose 9 more trained skills at 1st level. <i>Class Skills: </i> Acrobatics, Athletics, Insight, Nature, Perception, Stealth, Stealth, Streetwise
        <br/><br/>
        <b>Class Features: </b> None
        <br/>
      </div>
		</div>

    <div class="ClassDescription">
      
    </div>

    <div class="ClassFeatures"> 
      This class has no features.
    </div>
    
    <div class="ClassName">
      Gunner Powers
    </div>
    
    <div class="ClassPowers">
      <div class="ClassPowersBox">
  <div class="ClassPowersContainer">
  <div class="ClassPowersHeader">
    Class Features
  </div>

  <div class="Powers">
    <table><tr><td valign='top'><div id="PowerBody" class="PowerContainer">
    <div class="PowerHeader At-Will">
      <div class="PowerHeaderLeft"> Sniper's Aim </div>
      <div class="PowerHeaderRight"> Gunner Feature  </div>
      <div class="FloatFix"></div>
    </div>
    <div class="PowerText Flavour">  </div>
  <div class="PowerText">
    At-Will * Martial
    <br />
    Move Action
    &#8194; &#8194; &#8194; &#8194; &#8194; &#8194; &#8194; &#8194;
    Ranged <span style="font-weight: normal">sight</span>
    <br/>
     <span style="font-weight: normal"></span>
    
     <span style="font-weight: normal"></span>
    
     <span style="font-weight: normal"></span>
    
  </div>

  <div>
  <div class="PowerText">
    Target: <span style="font-weight: normal">One creature</span>
    <br/>

     <span style="font-weight: normal"></span>
  </div>

  

  

  <div class="PowerText Alternate">
	Effect: <span style="font-weight: normal">Mark the creature. Gain +2 to ranged attack rolls against the marked target and -2 to ranged attack rolls against non-marked target, until the end of your turn.&nbsp; &nbsp;The creature remains marked until it moves out of sight or you dismiss the mark as a free action.</span>
  <span style="margin-left: 8px">
     <span style="font-weight: normal;"></span>
  </span>
</div>
</div>
  
  
  <div class="PowerText">
	Sustain Move: <span style="font-weight: normal">Gain +3 to ranged attack rolls against the marked target and -2 to ranged attack rolls against non-marked targets, until the end of your turn.</span>
  <span style="margin-left: 8px">
     <span style="font-weight: normal;"></span>
  </span>
</div>
  <div class="PowerText">
	Special: <span style="font-weight: normal">Only one target can be marked at a time.</span>
  <span style="margin-left: 8px">
     <span style="font-weight: normal;"></span>
  </span>
</div>
</div></td><td valign='top'><div id="PowerBody" class="PowerContainer">
    <div class="PowerHeader At-Will">
      <div class="PowerHeaderLeft"> Thunderbolt Slinger </div>
      <div class="PowerHeaderRight"> Gunner Feature  </div>
      <div class="FloatFix"></div>
    </div>
    <div class="PowerText Flavour">  </div>
  <div class="PowerText">
    At-Will * Elemental, Lightning
    <br />
    Standard Action
    &#8194; &#8194; &#8194; &#8194; &#8194; &#8194; &#8194; &#8194;
    Ranged <span style="font-weight: normal"> 10</span>
    <br/>
     <span style="font-weight: normal"></span>
    
    Prerequisite: <span style="font-weight: normal">The Thunderbolt Slinger must be attached to an equipped crossbow, and requires a Tbolt Charge to be fired.</span>
    <br/>
     <span style="font-weight: normal"></span>
    
  </div>

  <div>
  <div class="PowerText">
    Target: <span style="font-weight: normal">One creature</span>
    <br/>

    Attack: <span style="font-weight: normal">Wisdom vs. Fortitude</span>
  </div>

  <div class="PowerText Alternate">
	Hit: <span style="font-weight: normal">1d6 + Wisdom modifier damage. Increase damage to 2d6 + Wisdom modifier at 21st level.</span>
  <span style="margin-left: 8px">
     <span style="font-weight: normal;"></span>
  </span>
</div>

  

  
</div>
  
  
  
  <div class="PowerText">
	Special: <span style="font-weight: normal">This power can be used in place of a basic ranged attack. This power can only be used once a round.</span>
  <span style="margin-left: 8px">
     <span style="font-weight: normal;"></span>
  </span>
</div>
</div></td></tr><tr><td valign='top'><div id="PowerBody" class="PowerContainer">
    <div class="PowerHeader At-Will">
      <div class="PowerHeaderLeft"> Camouflaged Crouch </div>
      <div class="PowerHeaderRight"> Gunner Feature  </div>
      <div class="FloatFix"></div>
    </div>
    <div class="PowerText Flavour">  </div>
  <div class="PowerText">
    At-Will * Martial, Stance
    <br />
    Minor Action
    &#8194; &#8194; &#8194; &#8194; &#8194; &#8194; &#8194; &#8194;
    Personal <span style="font-weight: normal"></span>
    <br/>
     <span style="font-weight: normal"></span>
    
     <span style="font-weight: normal"></span>
    
     <span style="font-weight: normal"></span>
    
  </div>

  <div>
  <div class="PowerText">
     <span style="font-weight: normal"></span>
    

     <span style="font-weight: normal"></span>
  </div>

  

  

  <div class="PowerText Alternate">
	Effect: <span style="font-weight: normal">You drop prone, gain concealment, do not take a -2 penalty to ranged attacks, and gain +1 to ranged attack rolls until this stance ends.</span>
  <span style="margin-left: 8px">
     <span style="font-weight: normal;"></span>
  </span>
</div>
</div>
  
  
  
  <div class="PowerText">
	Special: <span style="font-weight: normal">Standing up causes you to leave this stance.</span>
  <span style="margin-left: 8px">
     <span style="font-weight: normal;"></span>
  </span>
</div>
</div></td></tr></table>
  </div>

</div>
  
  
</div>
      <div class="ClassPowersBox">
  <div class="ClassPowersContainer">
  <div class="ClassPowersHeader">
    Level 1 At-Will Powers
  </div>

  <div class="Powers">
    <table><tr><td valign='top'><div id="PowerBody" class="PowerContainer">
    <div class="PowerHeader At-Will">
      <div class="PowerHeaderLeft"> Pavise Formation </div>
      <div class="PowerHeaderRight"> Gunner Attack 1 </div>
      <div class="FloatFix"></div>
    </div>
    <div class="PowerText Flavour"> Your shield thumps into the ground, giving you a sense of security and providing your crossbow a sturdy prop,  </div>
  <div class="PowerText">
    At-Will * Arcane, Stance, Weapon
    <br />
    Standard Action
    &#8194; &#8194; &#8194; &#8194; &#8194; &#8194; &#8194; &#8194;
    Ranged <span style="font-weight: normal">weapon</span>
    <br/>
     <span style="font-weight: normal"></span>
    
     <span style="font-weight: normal"></span>
    
    Requirement: <span style="font-weight: normal">You must have a shield on your person and not be prone.</span>
    <br/>
  </div>

  <div>
  <div class="PowerText">
    Target: <span style="font-weight: normal">One creature</span>
    <br/>

    Attack: <span style="font-weight: normal">Dexterity vs. AC</span>
  </div>

  <div class="PowerText Alternate">
	Hit: <span style="font-weight: normal">1[W] + Dexterity modifier damage</span>
  <span style="margin-left: 8px">
     <span style="font-weight: normal;"></span>
  </span>
</div>

  

  <div class="PowerText ">
	Effect: <span style="font-weight: normal">Until the end of the stance, you gain cover against enemies forward of you.</span>
  <span style="margin-left: 8px">
     <span style="font-weight: normal;"></span>
  </span>
</div>
</div>
  
  
  
  
</div></td></tr></table>
  </div>

</div>
  <div class="ClassPowersContainer">
  <div class="ClassPowersHeader">
    Level 1 Encounter Powers
  </div>

  <div class="Powers">
    <table><tr><td valign='top'><div id="PowerBody" class="PowerContainer">
    <div class="PowerHeader Encounter">
      <div class="PowerHeaderLeft"> Ricochet Shot </div>
      <div class="PowerHeaderRight"> Gunner Attack 1 </div>
      <div class="FloatFix"></div>
    </div>
    <div class="PowerText Flavour">  </div>
  <div class="PowerText">
    Encounter * Martial, Weapon
    <br />
    Standard Action
    &#8194; &#8194; &#8194; &#8194; &#8194; &#8194; &#8194; &#8194;
    Ranged <span style="font-weight: normal"> 15</span>
    <br/>
     <span style="font-weight: normal"></span>
    
     <span style="font-weight: normal"></span>
    
    Requirement: <span style="font-weight: normal">Ranged weapon</span>
    <br/>
  </div>

  <div>
  <div class="PowerText">
    Target: <span style="font-weight: normal">One creature</span>
    <br/>

    Attack: <span style="font-weight: normal">Dexterity vs. AC</span>
  </div>

  <div class="PowerText Alternate">
	Hit: <span style="font-weight: normal">1[W] + Dexterity modifier damage</span>
  <span style="margin-left: 8px">
     <span style="font-weight: normal;"></span>
  </span>
</div>

  

  
</div>
  <div>
  <div class="PowerText NonPrimary">
    Secondary Target: <span style="font-weight: normal">One creature within 5 squares and line of sight of the primary target</span>
    <br/>

    Secondary Attack: <span style="font-weight: normal">Dexterity vs. AC</span>
  </div>

  <div class="PowerText AlternateNonPrimary">
	Hit: <span style="font-weight: normal">1[W] + Dexterity modifier damage</span>
  <span style="margin-left: 8px">
     <span style="font-weight: normal;"></span>
  </span>
</div>

  

  
</div>
        
        
  
  
  
</div></td><td valign='top'><div id="PowerBody" class="PowerContainer">
    <div class="PowerHeader Encounter">
      <div class="PowerHeaderLeft"> Blindside Snapshot </div>
      <div class="PowerHeaderRight"> Gunner Attack 1 </div>
      <div class="FloatFix"></div>
    </div>
    <div class="PowerText Flavour">  </div>
  <div class="PowerText">
    Encounter * Martial, Weapon
    <br />
    Immediate Interrupt
    &#8194; &#8194; &#8194; &#8194; &#8194; &#8194; &#8194; &#8194;
    Melee <span style="font-weight: normal"> 1</span>
    <br/>
    Trigger: <span style="font-weight: normal">An enemy is marked and you are targeted by a melee attack from a non-marked enemy.</span>
    <br/>
     <span style="font-weight: normal"></span>
    
     <span style="font-weight: normal"></span>
    
  </div>

  <div>
  <div class="PowerText">
    Target: <span style="font-weight: normal">One creature</span>
    <br/>

    Attack: <span style="font-weight: normal">Dexterity vs. AC</span>
  </div>

  <div class="PowerText Alternate">
	Hit: <span style="font-weight: normal">2[W] + Dexterity modifier damage</span>
  <span style="margin-left: 8px">
     <span style="font-weight: normal;"></span>
  </span>
</div>

  

  
</div>
  
  
  
  
</div></td></tr><tr></table>
  </div>

</div>
  <div class="ClassPowersContainer">
  <div class="ClassPowersHeader">
    Level 1 Daily Powers
  </div>

  <div class="Powers">
    <table><tr><td valign='top'><div id="PowerBody" class="PowerContainer">
    <div class="PowerHeader Daily">
      <div class="PowerHeaderLeft"> Arcbolt </div>
      <div class="PowerHeaderRight"> Gunner Attack 1 </div>
      <div class="FloatFix"></div>
    </div>
    <div class="PowerText Flavour">  </div>
  <div class="PowerText">
    Daily * Elemental, Lightning, Weapon
    <br />
    Standard Action
    &#8194; &#8194; &#8194; &#8194; &#8194; &#8194; &#8194; &#8194;
    Ranged <span style="font-weight: normal"> 10</span>
    <br/>
     <span style="font-weight: normal"></span>
    
     <span style="font-weight: normal"></span>
    
     <span style="font-weight: normal"></span>
    
  </div>

  <div>
  <div class="PowerText">
    Target: <span style="font-weight: normal">One creature</span>
    <br/>

    Attack: <span style="font-weight: normal">Dexterity vs. AC</span>
  </div>

  <div class="PowerText Alternate">
	Hit: <span style="font-weight: normal">2[W] + Dexterity modifier damage</span>
  <span style="margin-left: 8px">
     <span style="font-weight: normal;"></span>
  </span>
</div>

  <div class="PowerText ">
	Miss: <span style="font-weight: normal">Make the secondary attack as if it hit.</span>
  <span style="margin-left: 8px">
     <span style="font-weight: normal;"></span>
  </span>
</div>

  
</div>
  <div>
  <div class="PowerText NonPrimary">
    Secondary Target: <span style="font-weight: normal"></span>
    <br/>

    Secondary Attack: <span style="font-weight: normal">Wisdom vs. Fortitude</span>
  </div>

  <div class="PowerText AlternateNonPrimary">
	Hit: <span style="font-weight: normal">Target is stunned (save ends)</span>
  <span style="margin-left: 8px">
     <span style="font-weight: normal;"></span>
  </span>
</div>

  

  
</div>
        
        
  
  
  
</div></td><td valign='top'><div id="PowerBody" class="PowerContainer">
    <div class="PowerHeader Daily">
      <div class="PowerHeaderLeft"> Puncturing Shot </div>
      <div class="PowerHeaderRight"> Gunner Attack 1 </div>
      <div class="FloatFix"></div>
    </div>
    <div class="PowerText Flavour">  </div>
  <div class="PowerText">
    Daily * Martial, Weapon
    <br />
    Standard Action
    &#8194; &#8194; &#8194; &#8194; &#8194; &#8194; &#8194; &#8194;
    Ranged <span style="font-weight: normal"> 16</span>
    <br/>
     <span style="font-weight: normal"></span>
    
     <span style="font-weight: normal"></span>
    
     <span style="font-weight: normal"></span>
    
  </div>

  <div>
  <div class="PowerText">
    Target: <span style="font-weight: normal">One creature</span>
    <br/>

    Attack: <span style="font-weight: normal">Dexterity + 1 vs. AC</span>
  </div>

  <div class="PowerText Alternate">
	Hit: <span style="font-weight: normal">2[W] + Dexterity modifier damage, and the target takes ongoing damage equal to your Wisdom modifier (save ends).</span>
  <span style="margin-left: 8px">
     <span style="font-weight: normal;"></span>
  </span>
</div>

  <div class="PowerText ">
	Miss: <span style="font-weight: normal">Half damage.</span>
  <span style="margin-left: 8px">
     <span style="font-weight: normal;"></span>
  </span>
</div>

  
</div>
  
  
  
  
</div></td></tr><tr></table>
  </div>

</div>
</div>
      <div class="ClassPowersBox">
  
  
  <div class="ClassPowersContainer">
  <div class="ClassPowersHeader">
    Level 2 Utility Powers
  </div>

  <div class="Powers">
    <table><tr><td valign='top'><div id="PowerBody" class="PowerContainer">
    <div class="PowerHeader Encounter">
      <div class="PowerHeaderLeft"> Too Close to Tell </div>
      <div class="PowerHeaderRight"> Gunner Utility 2 </div>
      <div class="FloatFix"></div>
    </div>
    <div class="PowerText Flavour">  </div>
  <div class="PowerText">
    Encounter * Martial, Stance
    <br />
    Minor Action
    &#8194; &#8194; &#8194; &#8194; &#8194; &#8194; &#8194; &#8194;
    Personal <span style="font-weight: normal"></span>
    <br/>
     <span style="font-weight: normal"></span>
    
     <span style="font-weight: normal"></span>
    
     <span style="font-weight: normal"></span>
    
  </div>

  <div>
  <div class="PowerText">
     <span style="font-weight: normal"></span>
    

     <span style="font-weight: normal"></span>
  </div>

  

  

  <div class="PowerText Alternate">
	Effect: <span style="font-weight: normal">+1 to attack rolls made against targets that are adjacent to an ally</span>
  <span style="margin-left: 8px">
     <span style="font-weight: normal;"></span>
  </span>
</div>
</div>
  
  
  
  
</div></td></tr></table>
  </div>

</div>
</div>
      <div class="ClassPowersBox">
  
  <div class="ClassPowersContainer">
  <div class="ClassPowersHeader">
    Level 3 Encounter Powers
  </div>

  <div class="Powers">
    <table><tr><td valign='top'><div id="PowerBody" class="PowerContainer">
    <div class="PowerHeader Encounter">
      <div class="PowerHeaderLeft"> Spanner's First Strike </div>
      <div class="PowerHeaderRight"> Gunner Attack 3 </div>
      <div class="FloatFix"></div>
    </div>
    <div class="PowerText Flavour">  </div>
  <div class="PowerText">
    Encounter * Martial, Weapon
    <br />
    Standard Action
    &#8194; &#8194; &#8194; &#8194; &#8194; &#8194; &#8194; &#8194;
    Ranged <span style="font-weight: normal">weapon</span>
    <br/>
     <span style="font-weight: normal"></span>
    
    Prerequisite: <span style="font-weight: normal">Initiative has not been rolled</span>
    <br/>
    Requirement: <span style="font-weight: normal">You must be wielding a crossbow</span>
    <br/>
  </div>

  <div>
  <div class="PowerText">
    Target: <span style="font-weight: normal">One creature</span>
    <br/>

    Attack: <span style="font-weight: normal">Dexterity vs. AC</span>
  </div>

  <div class="PowerText Alternate">
	Hit: <span style="font-weight: normal">2[W] + Dexterity modifier damage, and the target is knocked prone</span>
  <span style="margin-left: 8px">
     <span style="font-weight: normal;"></span>
  </span>
</div>

  

  <div class="PowerText ">
	Effect: <span style="font-weight: normal">Reload your crossbow</span>
  <span style="margin-left: 8px">
     <span style="font-weight: normal;"></span>
  </span>
</div>
</div>
  
  
  
  
</div></td><td valign='top'><div id="PowerBody" class="PowerContainer">
    <div class="PowerHeader Encounter">
      <div class="PowerHeaderLeft"> Stunning Discharge </div>
      <div class="PowerHeaderRight"> Gunner Attack 3 </div>
      <div class="FloatFix"></div>
    </div>
    <div class="PowerText Flavour">  </div>
  <div class="PowerText">
    Encounter * Elemental, Lightning
    <br />
    Standard Action
    &#8194; &#8194; &#8194; &#8194; &#8194; &#8194; &#8194; &#8194;
    Close <span style="font-weight: normal">burst 2</span>
    <br/>
     <span style="font-weight: normal"></span>
    
    Prerequisite: <span style="font-weight: normal">One TBolt Charge.</span>
    <br/>
     <span style="font-weight: normal"></span>
    
  </div>

  <div>
  <div class="PowerText">
    Target: <span style="font-weight: normal">Each creature in burst</span>
    <br/>

    Attack: <span style="font-weight: normal">Wisdom vs. Fortitude</span>
  </div>

  <div class="PowerText Alternate">
	Hit: <span style="font-weight: normal">1d6 + Wisdom modifier Lightning damage</span>
  <span style="margin-left: 8px">
     <span style="font-weight: normal;"></span>
  </span>
</div>

  

  
</div>
  
  
  
  
</div></td></tr><tr><td valign='top'><div id="PowerBody" class="PowerContainer">
    <div class="PowerHeader Encounter">
      <div class="PowerHeaderLeft"> Tracer Bolt </div>
      <div class="PowerHeaderRight"> Gunner Attack 3 </div>
      <div class="FloatFix"></div>
    </div>
    <div class="PowerText Flavour">  </div>
  <div class="PowerText">
    Encounter * Martial, Weapon
    <br />
    Standard Action
    &#8194; &#8194; &#8194; &#8194; &#8194; &#8194; &#8194; &#8194;
    Ranged <span style="font-weight: normal">weapon</span>
    <br/>
     <span style="font-weight: normal"></span>
    
     <span style="font-weight: normal"></span>
    
     <span style="font-weight: normal"></span>
    
  </div>

  <div>
  <div class="PowerText">
    Target: <span style="font-weight: normal">One creature</span>
    <br/>

    Attack: <span style="font-weight: normal">Dexterity + 1 vs. AC</span>
  </div>

  <div class="PowerText Alternate">
	Hit: <span style="font-weight: normal">1[W] + Dexterity modifier damage, and you and your allies gain +2 to attack rolls against the target until the end of the encounter.</span>
  <span style="margin-left: 8px">
     <span style="font-weight: normal;"></span>
  </span>
</div>

  

  
</div>
  <div>
  <div class="PowerText NonPrimary">
    Secondary Target: <span style="font-weight: normal">Same creature</span>
    <br/>

    Secondary Attack: <span style="font-weight: normal">Wisdom vs. Fortitude</span>
  </div>

  <div class="PowerText AlternateNonPrimary">
	Hit: <span style="font-weight: normal">1d8 + Wisdom modifier Acid damage</span>
  <span style="margin-left: 8px">
     <span style="font-weight: normal;"></span>
  </span>
</div>

  

  
</div>
        
        
  
  
  
</div></td><td valign='top'><div id="PowerBody" class="PowerContainer">
    <div class="PowerHeader Encounter">
      <div class="PowerHeaderLeft"> Eviscerating Bolt </div>
      <div class="PowerHeaderRight"> Gunner Attack 3 </div>
      <div class="FloatFix"></div>
    </div>
    <div class="PowerText Flavour"> You see an opening in the armor, and your bolt seeks to shred hide with no mercy. </div>
  <div class="PowerText">
    Encounter * Martial, Weapon
    <br />
    Standard Action
    &#8194; &#8194; &#8194; &#8194; &#8194; &#8194; &#8194; &#8194;
    Ranged <span style="font-weight: normal">weapon</span>
    <br/>
     <span style="font-weight: normal"></span>
    
     <span style="font-weight: normal"></span>
    
     <span style="font-weight: normal"></span>
    
  </div>

  <div>
  <div class="PowerText">
    Target: <span style="font-weight: normal">One creature</span>
    <br/>

    Attack: <span style="font-weight: normal">Dexterity vs. AC</span>
  </div>

  <div class="PowerText Alternate">
	Hit: <span style="font-weight: normal">2[W] + Dexterity modifier damage. After this attack is resolved, If the target is bloodied, the target takes ongoing 1d6 damage (save ends)</span>
  <span style="margin-left: 8px">
     <span style="font-weight: normal;"></span>
  </span>
</div>

  

  
</div>
  
  
  
  
</div></td></tr><tr></table>
  </div>

</div>
  
</div>
      <div class="ClassPowersBox">
  
  
  
</div>
      <div class="ClassPowersBox">
  
  
  <div class="ClassPowersContainer">
  <div class="ClassPowersHeader">
    Level 5 Daily Powers
  </div>

  <div class="Powers">
    <table><tr><td valign='top'><div id="PowerBody" class="PowerContainer">
    <div class="PowerHeader Daily">
      <div class="PowerHeaderLeft"> Headshot </div>
      <div class="PowerHeaderRight"> Gunner Attack 5 </div>
      <div class="FloatFix"></div>
    </div>
    <div class="PowerText Flavour"> The helm visor raises ever so slightly. Half a second is all you need.  </div>
  <div class="PowerText">
    Daily * Martial, Weapon
    <br />
    Standard Action
    &#8194; &#8194; &#8194; &#8194; &#8194; &#8194; &#8194; &#8194;
    Ranged <span style="font-weight: normal">weapon</span>
    <br/>
     <span style="font-weight: normal"></span>
    
     <span style="font-weight: normal"></span>
    
     <span style="font-weight: normal"></span>
    
  </div>

  <div>
  <div class="PowerText">
    Target: <span style="font-weight: normal">One creature</span>
    <br/>

    Attack: <span style="font-weight: normal">Dexterity vs. Reflex</span>
  </div>

  <div class="PowerText Alternate">
	Hit: <span style="font-weight: normal">2[W] + Dexterity modifier damage, and the target is blinded and dazed until the end of your next turn.</span><br/>
  <span style="margin-left: 8px">
    Sniper's Aim: <span style="font-weight: normal;">If the target is marked, +1[W] damage on a hit.</span>
  </span>
</div>

  <div class="PowerText ">
	Miss: <span style="font-weight: normal">Half damage, and the target is not blinded or dazed.</span>
  <span style="margin-left: 8px">
     <span style="font-weight: normal;"></span>
  </span>
</div>

  
</div>
  
  
  
  
</div></td><td valign='top'><div id="PowerBody" class="PowerContainer">
    <div class="PowerHeader Daily">
      <div class="PowerHeaderLeft"> Stick and Shoot </div>
      <div class="PowerHeaderRight"> Gunner Attack 5 </div>
      <div class="FloatFix"></div>
    </div>
    <div class="PowerText Flavour"> Twin dirks spring forth from your crossbow's stock. Daggers and bolts tend to do more than sting. </div>
  <div class="PowerText">
    Daily * Martial, Stance, Weapon
    <br />
    Standard Action
    &#8194; &#8194; &#8194; &#8194; &#8194; &#8194; &#8194; &#8194;
    Melee <span style="font-weight: normal"> 1</span>
    <br/>
     <span style="font-weight: normal"></span>
    
     <span style="font-weight: normal"></span>
    
     <span style="font-weight: normal"></span>
    
  </div>

  <div>
  <div class="PowerText">
    Target: <span style="font-weight: normal">One creature</span>
    <br/>

    Attack: <span style="font-weight: normal">Strength vs. AC</span>
  </div>

  <div class="PowerText Alternate">
	Hit: <span style="font-weight: normal">2[W] + 1d6 + Dexterity modifier damage + Strength modifier damage</span>
  <span style="margin-left: 8px">
     <span style="font-weight: normal;"></span>
  </span>
</div>

  

  <div class="PowerText ">
	Effect: <span style="font-weight: normal">Until the stance ends:<br/>Your crossbow gains a basic melee attack capability:<br/>&nbsp; &nbsp; Hit: 1d6 + Strength modifier damage<br/>You gain a penalty of -1 to ranged attack rolls.</span>
  <span style="margin-left: 8px">
     <span style="font-weight: normal;"></span>
  </span>
</div>
</div>
  
  
  
  
</div></td></tr><tr></table>
  </div>

</div>
</div>
      <div class="ClassPowersBox">
  
  
  
</div>
      <div class="ClassPowersBox">
  
  
  
</div>
      <div class="ClassPowersBox">
  
  
  
</div>
      <div class="ClassPowersBox">
  
  
  
</div>
      <div class="ClassPowersBox">
  
  
  
</div>
      <div class="ClassPowersBox">
  
  
  
</div>
      <div class="ClassPowersBox">
  
  
  
</div>
      <div class="ClassPowersBox">
  
  
  
</div>
      <div class="ClassPowersBox">
  
  
  
</div>
      <div class="ClassPowersBox">
  
  
  
</div>
      <div class="ClassPowersBox">
  
  
  
</div>
      <div class="ClassPowersBox">
  
  
  
</div>
      <div class="ClassPowersBox">
  
  
  
</div>
      <div class="ClassPowersBox">
  
  
  
</div>
      <div class="ClassPowersBox">
  
  
  
</div>
      <div class="ClassPowersBox">
  
  
  
</div>
      <div class="ClassPowersBox">
  
  
  
</div>
      <div class="ClassPowersBox">
  
  
  
</div>
      <div class="ClassPowersBox">
  
  
  
</div>
      <div class="ClassPowersBox">
  
  
  
</div>
      <div class="ClassPowersBox">
  
  
  
</div>
      <div class="ClassPowersBox">
  
  
  
</div>
      <div class="ClassPowersBox">
  
  
  
</div>
      <div class="ClassPowersBox">
  
  
  
</div>
      <div class="ClassPowersBox">
  
  
  
</div>
    </div>
    
	</div>
</div>